@font-face {
  font-family: GentiumPlusW;
  src: url(GentiumPlus-R.woff);
}

body {
  background-color: black;

  font-size: 14pt;

  font-family: GentiumPlusW, Arial;

  color: white;

  line-height: 18pt;

  padding-left: 10pt;

  padding-right: 10pt;

  padding-top: 10pt;

}

p.indent {
  text-indent: 30px;
  padding: 0;
  margin: 0;
}

table, th, td {
  border: 30px solid black;
  border-collapse: separate;
}
th, td {
  background-color: black;
}
h1 {text-align: center;}

/* @font-face {
    font-family: BBCBengali;
    src: url(fonts/BBCBengali.ttf) format("opentype");
    unicode-range: U+00-FF, U+980-9FF;
} /*