body {

  font-size: 12pt;

  font-family: Arial, sans-serif;

  color: black;

  line-height: 16pt;

  padding-left: 10pt;

  padding-right: 10pt;

  padding-top: 10pt;

}

p.indent {
  text-indent: 30px;
  padding: 0;
  margin: 0;
}

table, th, td {
  border: 20px solid white;
  border-collapse: collapse;
}
th, td {
  background-color: white;
}
h1 {text-align: center;}