@font-face {
  font-family: GFSPorson;
  src: url(GFSPorson.otf);
}

body {
  background-color:#18181a;

  font-size: 14pt;

  font-family: GFSPorson, Arial, Helvetica, sans-serif;

  color: #e9edf0;

  line-height: 20pt;

  padding-left: 10pt;

  padding-right: 10pt;

  padding-top: 10pt;

}

p.indent {
  text-indent: 30px;
  padding-left: 20pt;

  padding-right: 20pt;

  padding-top: 1pt;
}

td {
  border: 20px solid #18181a;
  border-collapse: separate;
  width: 50%;
  vertical-align: top;
}



/*th, td {
  background-color: black;
}*/
h1 {text-align: center;
line-height: 40pt;}

/* @font-face {
    font-family: BBCBengali;
    src: url(fonts/BBCBengali.ttf) format("opentype");
    unicode-range: U+00-FF, U+980-9FF;
} */

a {
  color:#8ab4f8;
  text-decoration:none;
  -webkit-tap-highlight-color:rgba(255,255,255,.1)
}
a:visited {
  color:#c58af9
}
a:hover {
  text-decoration:underline
}
a:hover h3 {
  text-decoration:underline
}
a.a-no-hover-decoration:hover,
a.a-no-hover-decoration:hover h3 {
  text-decoration:none
}